<% const d=new Date(); const year=d.getFullYear(); %>
    <footer class="site-footer">
        <p class="copyright">&copy; <%= year %> | Luis Brasil Soares CSE 340 App</p>
         <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
    </footer>