<h1>Welcome to CSE Motors!</h1>

<section class="hero-section">
    <div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="delorean" loading="lazy">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 Cupholders
        <br>Superman Doors
        <br>Fuzzy Dice!</p>
        <a href="#">
            <img src="/images/site/own_today.png" alt="Own Today Button" loading="lazy" class="own-btn">
        </a>
    </div>
</div>
</section>

<section class="features">

<section class="upgrades-section">
    <h2>Delorean Upgrades</h2>
    <section class="upgrades">
    <figure>
        <img src="/images/upgrades/flux-cap.png" alt="flux-capacitor" loading="lazy">
        <p><u>Flux Capacitor</u></p>
    </figure>
    <figure>
        <img src="/images/upgrades/flame.jpg" alt="flame" loading="lazy">
        <p><u>Flame Decals</u></p>
    </figure>
    <figure>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" loading="lazy">
        <p><u>Bumper Stickers</u></p>
    </figure>
    <figure>
        <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap" loading="lazy">
        <p><u>Hub Caps</u></p>
    </figure>
    </section>
</section>

<section class="reviews-section">
<h2>DMC Delorean Reviews</h2>
<section class="reviews">
<ul>
    <li>"So fast it's almost like travelling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly! (5/5)</li>
    <li>"The most futuristic ride od our day."(4.5/5)</li>
    <li>"80's livin and I love it!"(5/5)</li>
</ul>
</section>
</section>
</section>