<% if (title) { %>
  <h1><%= title %></h1>
  <%} else {
    res.redirect('/');
  } %>

<% if(Object.entries(htmlData).length > 0){ %>

<%- htmlData %>
<% } else { %>
  <h2>Sorry, no vehicles could be found</h2>
<% } %>