
<% if (title) {%>
    <h1>
        <%= title %>
    </h1>
    <%} else {res.redirect('/')} %>

        <%- messages() %>


            <% if (errors) { %>
                <ul class="message warning">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <%} %>

                <ul class="boldList">
                    <li>
                        <a href="/inv/newclassification" title="Click to add a new vehicle classification">
                            Add New Classification
                        </a>
                    </li>
                    <li>
                        <a href="/inv/newvehicle" title="Click to add a new vehicle">
                            Add New Vehicle
                        </a>
                    </li>
                </ul>
                
                <section class="account-form-wrapper inventory-management">
                    <h2>Manage Inventory</h2>
                    <p>Choose a classification to see those inventory items.</p>
                
                    <div class="inventory-filter">
                        <label for="classificationList">Classification</label>
                        <%- classificationSelect %>
                    </div>
                
                    <div class="inventory-table-wrapper">
                        <table id="inventoryDisplay"></table>
                    </div>
                
                    <noscript>JavaScript must be enabled to use this page.</noscript>
                </section>
                
                <script src="../../js/inventory.js"></script>